<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>JDBCFilter</filter-name>
        <filter-class>com.mp.quanlynhanvien.filter.JDBCFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>com.mp.quanlynhanvien.filter.CookieFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JDBCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTinNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.ThongTinNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DanhSachNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddThanhTichServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddThanhTichServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddViPhamServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddViPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DSPhongBanServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DSPhongBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPhongBanServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddPhongBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTTNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.EditTTNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachNVTVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DanhSachNVTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNVTVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddNVTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UngTuyenServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.UngTuyenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DsHSUTServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DsHSUTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiaoViecServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.GiaoViecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TimNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DsViecLamServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DsViecLamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViecDuocGiaoServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.ViecDuocGiaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhDauHT_CVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DanhDauHT_CVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuyetHSUT</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DuyetHSUTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangTinTuyenDungServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DangTinTuyenDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timTheoTenServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.timTheoTenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinTuyenDungServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TinTuyenDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongBaoServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.ThongBaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DSChucVuServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DSChucVuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChucVuServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddChucVuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrinhDoHocVanServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TrinhDoHocVanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrinhDoNgoaiNguServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TrinhDoNgoaiNguServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrinhDoHocVanServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddTrinhDoHocVanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrinhDoNgoaiNguServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddTrinhDoNgoaiNguServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QlyTuyenDungServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.QlyTuyenDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimTinTDServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TimTinTDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DsHopDongLaoDongServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DsHopDongLaoDongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimHDTheoMaNVServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TimHDTheoMaNVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHDLDServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.AddHDLDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TKNhanVienPhongBan</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TKNhanVienPhongBan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.GetListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TKNhanVienTDHV</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.TKNhanVienTDHV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnknownServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.UnknownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaTinTuyenDungServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.SuaTinTuyenDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTinTuyenDungServlet</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.DeleteTinTuyenDungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QLQuyen</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.QLQuyen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThayDoiQuyen</servlet-name>
        <servlet-class>com.mp.quanlynhanvien.servlet.ThayDoiQuyen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTinNVServlet</servlet-name>
        <url-pattern>/nv/thongtin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachNVServlet</servlet-name>
        <url-pattern>/nv/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddThanhTichServlet</servlet-name>
        <url-pattern>/nv/thanhtich/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddViPhamServlet</servlet-name>
        <url-pattern>/nv/vipham/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNVServlet</servlet-name>
        <url-pattern>/nv/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DSPhongBanServlet</servlet-name>
        <url-pattern>/phongban/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPhongBanServlet</servlet-name>
        <url-pattern>/phongban/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTTNVServlet</servlet-name>
        <url-pattern>/nv/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachNVTVServlet</servlet-name>
        <url-pattern>/nvtv/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNVTVServlet</servlet-name>
        <url-pattern>/nvtv/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UngTuyenServlet</servlet-name>
        <url-pattern>/ungtuyen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DsHSUTServlet</servlet-name>
        <url-pattern>/hsut/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiaoViecServlet</servlet-name>
        <url-pattern>/giaoviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimNVServlet</servlet-name>
        <url-pattern>/timnv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DsViecLamServlet</servlet-name>
        <url-pattern>/viec/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViecDuocGiaoServlet</servlet-name>
        <url-pattern>/viec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhDauHT_CVServlet</servlet-name>
        <url-pattern>/viec/danhdauhoanthanh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuyetHSUT</servlet-name>
        <url-pattern>/hsut/duyet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangTinTuyenDungServlet</servlet-name>
        <url-pattern>/tintuyendung/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timTheoTenServlet</servlet-name>
        <url-pattern>/timtheoten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/password/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinTuyenDungServlet</servlet-name>
        <url-pattern>/tintuyendung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongBaoServlet</servlet-name>
        <url-pattern>/thongbao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DSChucVuServlet</servlet-name>
        <url-pattern>/chucvu/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChucVuServlet</servlet-name>
        <url-pattern>/chucvu/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrinhDoHocVanServlet</servlet-name>
        <url-pattern>/trinhdohocvan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrinhDoNgoaiNguServlet</servlet-name>
        <url-pattern>/trinhdongoaingu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrinhDoHocVanServlet</servlet-name>
        <url-pattern>/trinhdohocvan/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrinhDoNgoaiNguServlet</servlet-name>
        <url-pattern>/trinhdongoaingu/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QlyTuyenDungServlet</servlet-name>
        <url-pattern>/tuyendung/qly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimTinTDServlet</servlet-name>
        <url-pattern>/tintuyendung/tim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DsHopDongLaoDongServlet</servlet-name>
        <url-pattern>/hopdonglaodong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimHDTheoMaNVServlet</servlet-name>
        <url-pattern>/timhd-manv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHDLDServlet</servlet-name>
        <url-pattern>/hdld/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TKNhanVienPhongBan</servlet-name>
        <url-pattern>/tk/nv-pb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListServlet</servlet-name>
        <url-pattern>/getlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TKNhanVienTDHV</servlet-name>
        <url-pattern>/tk/nv-tdhv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnknownServlet</servlet-name>
        <url-pattern>/unknown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaTinTuyenDungServlet</servlet-name>
        <url-pattern>/tintuyendung/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTinTuyenDungServlet</servlet-name>
        <url-pattern>/tintuyendung/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QLQuyen</servlet-name>
        <url-pattern>/qlyquyen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThayDoiQuyen</servlet-name>
        <url-pattern>/quyen/thaydoi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
